.footerTop {
    background-color: #2c3e50;
    color: white;
    padding: 90px 0;
    text-align: center;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


.footerColumn {
    flex: 1;
    min-width: 250px;
}

.footerColumn h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.125rem;
    margin-bottom: 0.625rem;
    letter-spacing: 1px;
}

.footerColumn p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 5px 0;
    line-height: 1.6;
    color: #dcdcdc;
}

.footerContainer .footerColumn:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.socialIcons a {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
}

.socialIcons a:hover {
    background-color: white;
    color: #2c3e50;
}

.footerBottom {
    background-color: #1a252f;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .footerContainer {
        gap: 100px;
    }
}

@media (max-width: 992px) {
    .footerContainer {
        gap: 60px;
    }
}


@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }

    .footerColumn {
        max-width: 90%;
    }

    .socialIcons {
        justify-content: center;
    }
}